/SYB63_325_202003_Expenditure on Health.csv
/SYB58_35_Index of industrial production.csv
/SYB60_312_Carbon Dioxide Emission Estimates.csv
/SYB61_12_Agricultural Production Indices.csv
/SYB61_253_Population Growth Rates in Urban areas and Capital cities.csv
/SYB62_1_201907_Population, Surface Area and Density.csv
/SYB62_123_201907_Total Imports, Exports and Balance of Trade.csv
/SYB62_125_201907_Balance of Payments.csv
/SYB62_128_201907_Consumer Price Index.csv
/SYB62_130_201907_Exchange Rates.csv
/SYB62_145_201904_Land.csv
/SYB62_153_201906_Gross Value Added by Economic Activity.csv
/SYB62_154_201906_Health Personnel.csv
/SYB62_200_201905_Employment.csv
/SYB62_223_201907_Net Disbursements from Official ODA from Donors.csv
/SYB62_226_201907_Net Disbursements from Official ODA to Recipients.csv
/SYB62_230_201904_GDP and GDP Per Capita.csv
/SYB62_245_201905_Public Expenditure on Education.csv
/SYB62_246_201907_Population Growth, Fertility and Mortality Indicators.csv
/SYB62_263_201904_Production, Trade and Supply of Energy.csv
/SYB62_264_201902_Patents.csv
/SYB62_285_201904_Research and Development Staff.csv
/SYB62_286_201904_GDP on R&D.csv
/SYB62_309_201906_Education.csv
/SYB62_313_201907_Threatened Species.csv
/SYB62_314_201904_Internet Usage.csv
/SYB62_315_201906_Water and Sanitation Services.csv
/SYB62_317_201905_Seats held by Women in Parliament.csv
/SYB62_319_201906_Ratio of Girls to Boys in Education.csv
/SYB62_323_201906_Teaching Staff in Education.csv
/SYB62_328_201904_Intentional Homicides and Other Crimes.csv
/SYB62_327_201907_International Migrants and Refugees.csv
/SYB62_329_201904_Labour Force and Unemployment.csv
/SYB62_330_201907_Major Trading Partners.csv
/SYB63_176_202003_Tourist-Visitors Arrival and Expenditure.csv
